body {
    background-color: #f5f5f5;
}
.logo {
    width: 73px;
    height: 73px;
    background-color: #212121;
}
.normaltext1{
    width: 216px;
    height: 41px;
    font-family: IRANSansWeb,serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #3c3c3c;
}
.normaltext2 {
    width: 155px;
    height: 30px;
    font-family: IRANSansWeb,serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #818181;
}
.fileinput{

}
.submit {
    width: 206px;
    height: 58px;
    background-image: linear-gradient(to top, #0088e2, #0088ff);
    border-style : hidden;
    border-radius : 50px;
    font-weight : bold;
    font-size: 20px;
    color: #FFFFFF;
}
.button {
    width: 228px;
    height: 58px;
    font-family: IRANSansWeb,serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    border: solid 1px #979797;
    border-radius : 50px;
    font-weight : bold;
    font-size: 20px;
    background-color :#FFFFFF;
    color: #2c2c2c;
}
.background {
    width: 587px;
    height: 587px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    margin : 219px auto 218px;
    border-radius : 10px;
}
#fileupload {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

