html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "IRANSansWeb";
    src: url(../font/IRANSansWeb.ttf) format("truetype");
}

.parent {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f5f5f5;
    float: left;
    font-family: "IRANSansWeb", serif;
}

.menu {
    width: 18.7%;
    height: 100%;
    background-color: #ffffff;
    float: right;
    position: relative;
    margin: 0;
    min-width: 270px;

}

.menu #avatar {
    margin: 0;
    width: 44.8%;
    height: 11.8%;
    position: absolute;
    top: 3.7%;
    left: 27.4%;
    border-radius: 500px;
}

.menu #username {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 17.3%;
    text-align: center;
}

.menu #job {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20.9%;
    text-align: center;
}

.menu #date {
    position: absolute;
    width: 60.4%;
    height: 3.5%;
    right: 19.6%;
    top: 24.1%;
    padding-top: 1.7%;
    background: #e5f1ff;
    text-align: center;
}
.menu .icons {
    width: 8.5%;
    height: 2.2%;
    position: absolute;
    right: 6.3%;
}

.menu .texts {
    margin: 0;
    position: absolute;
    text-align: right;
    direction: rtl;
    right: 20.4%;
}

.menu #teachers , #teachersIcon {
    top : 33.1%
}

.menu #lessons ,  #lessonsIcon {
    top : 36.7%;
}

.menu #reviewReports, #reviewReportsIcon{
    top : 40.5%;
}

.menu #reviewMeetings ,#reviewMeetingsIcon{
    top : 43.9%;
}

.menu #sendMassage, #sendMassageIcon{
    top: 47.3%;
}

.menu #hooghooghLetter , #hooghooghLetterIcon{
    top: 50.5%;
}


.adminNewDabir {
    height: 100%;
    width: 81.3%;
    margin: 0;
    background-color: #f5f5f5;
    float: right;
    position: relative;
    display: none;
}

.adminNewDabir .container {
    width: 50.2%;
    height: 59%;
    position: absolute;
    top: 21.4%;
    left: 25%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
}

.adminNewDabir .inputTexts {
    position: absolute;
    right: 6%;
    font-size: 20px;
    font-weight: 500;
    color: #3c3c3c;
}
.adminNewDabir .inputs {
    position: absolute;
    background-color: #fbfbfb;
    border: none;
    border-bottom: 4px solid #4a90e2;
    text-align: center;
    direction: rtl;
    font-size: 17px;
    font-weight: 300;
    color: #3c3c3c;
}

.adminNewDabir #header{
    position: absolute;
    right: 6%;
    top : 5.1%;
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #3c3c3c;
}
.adminNewDabir #back {
    position: absolute;
    left: 8.3%;
    top : 5.8%;
    text-decoration: none;
}

.adminNewDabir #backIcon {
    height: 4%;
    width: 2.2%;
    position: absolute;
    left: 5.5%;
    top : 5.8%;
}

.adminNewDabir #firstnameInput {
    width: 36.3%;
    height: 6%;
    position: absolute;
    top: 19%;
    right: 26.1%;
}
.adminNewDabir #firstnameInputText {
    position: absolute;
    top: 19.5%;
}
.adminNewDabir #lastnameInput {
    width: 36.3%;
    height: 6%;
    position: absolute;
    top: 30%;
    right: 26.1%;
}
.adminNewDabir #lastnameInputText {
    position: absolute;
    top: 30.5%;
}
.adminNewDabir #jobInput {
    width: 36.3%;
    height: 6%;
    position: absolute;
    top: 41.1%;
    right: 26.1%;
}
.adminNewDabir #jobInputText {
    position: absolute;
    top: 41.6%;
}
.adminNewDabir #emailInput {
    width: 66.6%;
    height: 6%;
    position: absolute;
    top: 52.3%;
    right: 26.1%;
    direction: ltr;
}
.adminNewDabir #emailInputText {
    position: absolute;
    top: 52.8%;
}
.adminNewDabir #passwordInput {
    width: 66.6%;
    height: 6%;
    position: absolute;
    top: 63.4%;
    right: 26.1%;
    direction: ltr;
}
.adminNewDabir #passwordInputText {
    position: absolute;
    top: 63.9%;
}
.adminNewDabir #isPriorInput {
    position: absolute;
    top: 76.2%;
    right: 26.1%;
    width: 4.4%;
    height: 4.3%;
}
.adminNewDabir #isPriorInputText {
    position: absolute;
    top: 75.5%;

}
.adminNewDabir #sumbitButton {
    width: 35.1%;
    height: 9.6%;
    position: absolute;
    top: 86.1%;
    left: 32.5%;
    background-image: linear-gradient(to top, #0088e2, #0088ff);
    border-style : hidden;
    border-radius : 50px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

/*sddddddddddddddddddddddddddddddddddddddddddsdaaaaaaaaaaaaaaaaaaaaaaaaadddddddddddddddddddddddddddddddddd*/

.adminTarheDars {
    height: 100%;
    width: 81.3%;
    margin: 0;
    background-color: #f5f5f5;
    float: left;
    position: relative;
    display: none;
}
.adminTarheDars .container {
    width: 73.8%;
    height: 84.3%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    position: absolute;
    left: 13.2%;
    top: 7.9%;
}

.adminTarheDars #header {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #3c3c3c;
    position: absolute;
    right: 10.3%;
    top: 3.7%;
    text-align: right;
    direction: rtl;
}
.adminTarheDars #headerIcon {
    width: 3.2%;
    height: 3.2%;
    position: absolute;
    top: 4.9%;
    right: 5.4%;
}
.adminTarheDars .fakeContainer{
    width: 88.1%;
    height: 80.6%;
    background-color: #f8f8f8;
    position: absolute;
    top: 12.1%;
    left: 6.5%;
}

.adminTarheDars #myTable {
    width: 100%;
}
.adminTarheDars .tableHead {
    text-align: right;
    direction: rtl;
    background-color: #313131;
    font-family: IRANSansWeb;
    font-size: 18px;
    font-weight: 500;
    color: #3798fa;
    padding-right: 1.7%;
}
.adminTarheDars .links {
    text-align: center;
    width: 21.4%;
}
.adminTarheDars .dates {
    text-align: center;
    width: 13.1%;
}
.adminTarheDars .teachers {
    text-align: right;
    width: 27.6%;
    padding-right: 2%;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
}
.adminTarheDars .subjects {
    text-align: right;
    width: 25.3%;
    padding-right: 2%;
}

/*adsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

.adminBarresi {
    height: 100%;
    width: 81.3%;
    margin: 0;
    background-color: #f5f5f5;
    float: right;
    position: relative;
}
.adminBarresi .container {
    width: 73.8%;
    height: 84.3%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    position: absolute;
    left: 13.2%;
    top: 7.9%;
}

.adminBarresi #header {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #3c3c3c;
    position: absolute;
    right: 10.3%;
    top: 3.7%;
    text-align: right;
    direction: rtl;
}
.adminBarresi #headerIcon {
    width: 4.2%;
    height: 4.2%;
    position: absolute;
    top: 4.9%;
    right: 5.4%;
}

.adminBarresi .myTable {
    width: 88.1%;
    height: 80.6%;
    position: absolute;
    display: block;
    left: 6.5%;
    top: 12.1%;
    background-color: #f8f8f8;
}

.adminBarresi .myTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #f8f8f8;
    border: solid 1px black;
}

.adminBarresi .myTable .headerContainer {
    width: 100%;
}

.adminBarresi .myTable .bodyContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.adminBarresi .myTable .tableHead {
    background-color: #313131;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    color: #3798fa;
    text-align: right;
}

.adminBarresi .myTable #lessonNameHeader {
    padding-right: 1.7%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}
.adminBarresi .myTable #teacherNameHeader {
    padding-right: 1.7%;
}
.adminBarresi .myTable #schoolNameHeader {
    padding-right: 1.7%;
}
.adminBarresi .myTable #totalNameHeader {
    padding-right: 1.7%;
}

.adminBarresi .myTable .tableRow {
    font-weight: 300;
    font-size: 16px;
}
.adminBarresi .myTable .lessonName {
    font-weight: 600;
    font-size: 18px;
    padding-top: 1.7%;
    padding-right: 1.7%;
    color: #3c3c3c;
    text-align: right;
    width: 28.8%;
}
.adminBarresi .myTable .teacherName {
    padding-top: 1.7%;
    padding-right: 1.7%;
    text-align: right;
    width: 20.9%;
}
.adminBarresi .myTable .schoolName {
    padding-top: 1.7%;
    padding-right: 1.7%;
    text-align: right;
    width: 26.3%;
}
.adminBarresi .myTable .totalName {
    padding-top: 1.7%;
    padding-right: 1.7%;
    text-align: center;
    width: 23.4%;
}
.myTable::-webkit-scrollbar {
    width: 0.7%;
}
.myTable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.myTable::-webkit-scrollbar-thumb {
    background: #aeaeae;
    border-radius: 10px;
}

.myTable .tableRow:hover{
    background-color: #e3e3e3;
}



