@font-face {
    font-family: "IRANSansWeb";
    src: url(font/IRANSansWeb_UltraLight.ttf) format("truetype");
}

body {
    background-color: #f5f5f5;
}

.background {
    width: 587px;
    height: 587px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    margin: 229px auto 208px;
    border-radius: 60px;
}

.normalText {
    width: 152px;
    height: 43px;
    font-family: IRANSansWeb, serif;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #0083ff;
    margin: 0;
    position: relative;
    left: 216px;
    top: 46px;
}

.back {
    width: 62px;
    height: 33px;
    font-family: IRANSansWeb, serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #3c3c3c;
    text-decoration: none;
    position: relative;
    top: 46px;
    left: 67px;
}

.username {
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 30%;
    margin-left: 11.1%;
    width: 77%;
    height: 10%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 10px 8px 11px;
    text-align: center;

}

.retrieve {
    width: 247px;
    height: 59px;
    background-image: linear-gradient(to top, #0088e2, #0088ff);
    border-style: hidden;
    border-radius: 50px;
    font-family: IRANSansWeb, serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    left: 172px;
    margin-top: 25%;

}

::-webkit-input-placeholder {
    font-size: 25px;
    font-family: IRANSansWeb, serif;
    color: #3c3c3c;
}

::-moz-placeholder {
    font-weight: bold;
    color: black;
}

:-ms-input-placeholder {
    font-weight: bold;
    color: black;
}

:-moz-placeholder {
    font-weight: bold;
    color: black;
}
label {
    display: block;
    position: relative;
}

input {
    width: 77%;
    display: block;
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 9.4%;
    margin-left: 11.1%;
    height: 6%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 8px 8px 11px;
    text-align: center;
    background-color: #FFFFFF;
}
input + span {
    font-family: IRANSansWeb, serif;
    font-size: 1.25vw;
    position: absolute;
    top: 0;
    color: #3c3c3c;
    right: 42%;
    /*padding: 0 .25em;*/
    transition: top .3s;
}
input:focus + span,
input:valid + span {
    font-family: IRANSansWeb, serif;
    font-size: 1.25vw;
    top: -68%;
    right: 42%;
    color: #004987;
}