@font-face {
    font-family: "IRANSansWeb";
    src: url(font/IRANSansWeb.ttf) format("truetype");
}

.background {
    border-style: hidden;
    border-radius: 60px;
    position: fixed;
    left: 34%;
    top: 25%;
    width: 32%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    overflow: auto;
}

.background:after {
    content: "";
    display: block;
    padding-bottom: auto;
}

body {
    background-color: #f5f5f5;
}

label {
    display: block;
    position: relative;
}

.logo {
    margin-top: 7.2%;
    margin-left: 35.5%;
    margin-bottom: 4%;
    width: 29%;
}

.username {
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 8.2%;
    margin-left: 11.1%;
    width: 77%;
    height: 6%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 10px 8px 11px;
    text-align: center;

}

.password {
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 9.4%;
    margin-left: 11.1%;
    width: 77%;
    height: 6%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 10px 8px 11px;
    text-align: center;
    background-color: #FFFFFF;
}

.login {
    font-family: IRANSansWeb, serif;
    font-size: 1.2vw;

    position: relative;
    margin-top: 11.1%;
    margin-bottom: 7.2%;
    margin-left: 29%;
    width: 42%;
    height: 2%;
    border-style: hidden;
    border-radius: 50px;
    text-align: center;

    color: #FFFFFF;
    background-image: linear-gradient(to top, #0088e2, #0088ff);

    padding-top: 8px;
    padding-bottom: 8px;
    /*width: 42%;*/
    /*height: 2%;*/
}

a.forget {
    text-align: center;
    border: none;
    color: #9a9a9a;
    position: relative;
    margin-left: 42%;
    font-family: IRANSansWeb, serif;
    font-size: 1vw;
    line-height: 2.5vw;
}

.content {
    max-width: 10px;
    margin: auto;
}

::-webkit-input-placeholder {
    font-size: 1.25vw;
    font-family: IRANSansWeb, serif;
    color: #3c3c3c;
    padding: 8px 8px 11px;
}

::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    font-size: 1.25vw;
    font-family: IRANSansWeb, serif;
    color: #3c3c3c;
}
input {
    width: 77%;
    display: block;
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 9.4%;
    margin-left: 11.1%;
    height: 6%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 8px 8px 11px;
    text-align: center;
    background-color: #FFFFFF;
}
input + span {
    font-family: IRANSansWeb, serif;
    font-size: 1.25vw;
    position: absolute;
    top: 0;
    color: #3c3c3c;
    right: 42%;
    /*padding: 0 .25em;*/
    transition: top .3s;
}
input:focus + span,
input:valid + span {
    font-family: IRANSansWeb, serif;
    font-size: 1.25vw;
    top: -68%;
    right: 42%;
    color: #004987;
}