.container {
    display: block;
    width: 100%;
}

body {
    background-color: #f5f5f5;
}

label {
    display: block;
    position: relative;
}

@font-face {
    font-family: "IRANSansWeb";
    src: url(font/IRANSansWeb.ttf) format("truetype");
}

.background {
    border-style: hidden;
    border-radius: 60px;
    position: fixed;
    left: -0%;
    /*top: 25%;*/
    width: 100%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    overflow: auto;
}

.background:after {
    content: "";
    display: block;
    padding-bottom: auto;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    border-style: hidden;
    border-radius: 60px;
    position: fixed;
    left: 34%;
    top: 15%;
    width: 32%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    /*overflow: auto;*/

}

.card_side {
    height: 34vw;
    transition: all .8s;
    /*position: absolute;*/
    top: 25%;
    /*left: 0;*/
    /*width: 100%;*/
    backface-visibility: hidden;
    /*border-radius: 3px;*/
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

    perspective: 150rem;
    -moz-perspective: 150rem;

    border-style: hidden;
    border-radius: 60px;
    position: fixed;

    /*top: 25%;*/
    width: 100%;
    /*box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);*/
    background-color: #ffffff;
    /*overflow: auto;*/

}

.card_side-front {
    background-color: #fff;
}

.card_side-back {
    transform: rotateY(180deg);
}

.card_side-back-1 {
    background-image: linear-gradient(to right bottom, #0088e2, #0088ff);
}

/*.card:active .card_side-front {*/
/*    transform: rotateY(-180deg);*/
/*}*/

/*.card:active .card_side-back {*/
/*    transform: rotateY(0);*/
/*}*/

.card_heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 6rem;
    right: 1rem;
    width: 55%;
}


.card_flip {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}


.logo {
    margin-top: 7.2%;
    margin-left: 35.5%;
    margin-bottom: 4%;
    width: 29%;
}

.username {
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 8.2%;
    margin-left: 11.1%;
    width: 77%;
    height: 6%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 10px 8px 11px;
    text-align: center;

}

.password {
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 9.4%;
    margin-left: 11.1%;
    width: 77%;
    height: 6%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 10px 8px 11px;
    text-align: center;
    background-color: #FFFFFF;
}

.login {
    font-family: IRANSansWeb, serif;
    font-size: 1.2vw;

    position: relative;
    margin-top: 11.1%;
    margin-bottom: 7.2%;
    margin-left: 29%;
    width: 42%;
    height: 2%;
    border-style: hidden;
    border-radius: 50px;
    text-align: center;

    color: #FFFFFF;
    background-image: linear-gradient(to top, #0088e2, #0088ff);

    padding-top: 8px;
    padding-bottom: 8px;
    /*width: 42%;*/
    /*height: 2%;*/
}

#forget {
    text-align: center;
    border: none;
    color: #9a9a9a;
    position: relative;
    margin-left: 42%;
    font-family: IRANSansWeb, serif;
    font-size: 1vw;
    line-height: 2.5vw;

}

a.forget {
    text-align: center;
    border: none;
    color: #9a9a9a;
    position: relative;
    margin-left: 42%;
    font-family: IRANSansWeb, serif;
    font-size: 1vw;
    line-height: 2.5vw;
}

.content {
    max-width: 10px;
    margin: auto;
}

::-webkit-input-placeholder {
    font-size: 1.25vw;
    font-family: IRANSansWeb, serif;
    color: #3c3c3c;
    padding: 8px 8px 11px;
}

::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    font-size: 1.25vw;
    font-family: IRANSansWeb, serif;
    color: #3c3c3c;
}

input {
    width: 77%;
    display: block;
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 9.4%;
    margin-left: 11.1%;
    height: 6%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 8px 8px 11px;
    text-align: center;
    background-color: #FFFFFF;
}

input + span {
    font-family: IRANSansWeb, serif;
    font-size: 1.25vw;
    position: absolute;
    top: 0;
    color: #3c3c3c;
    right: 42%;
    /*padding: 0 .25em;*/
    transition: top .3s;
}

input:focus + span,
input:valid + span {
    font-family: IRANSansWeb, serif;
    font-size: 1.25vw;
    top: -68%;
    right: 42%;
    color: #004987;
}

.backgroundf {
    /*width: 587px;*/
    /*height: 587px;*/
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;

    border-style: hidden;
    border-radius: 60px;
    position: relative;
    width: 100%;
    height: 100%;
    /*overflow: auto;*/

}

.normalText {
    font-family: IRANSansWeb, serif;
    font-size: 1.5vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0083ff;
    margin: 0;
    position: relative;
    top: 46px;
}

.icon{
    margin-top: 8.3%;
    margin-left: 7.5%;
    /*margin-bottom: 4%;*/
    width: 4.3%;
}

.back {
    font-family: IRANSansWeb, serif;
    font-size: 1.3vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #3c3c3c;
    text-decoration: none;
    position: fixed;
    top: 6.5%;
    left: 67px;
}

.usernamef {
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    position: relative;
    margin-top: 35%;
    margin-left: 11.1%;
    width: 77%;
    height: 10%;
    border: none;
    border-bottom: 4px solid;
    border-bottom-color: #004987;
    padding: 10px 8px 11px;
    text-align: center;

}

.retrieve {
    /*width: 247px;*/
    /*height: 59px;*/
    background-image: linear-gradient(to top, #0088e2, #0088ff);
    border-style: hidden;
    border-radius: 50px;
    font-family: IRANSansWeb, serif;
    font-size: 1.1vw;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    /*left: 25%;*/
    margin-top: 25%;
    margin-bottom: 7.2%;
    margin-left: 29%;
    width: 42%;
    height: 8%;
}