<!DOCTYPE html>
<html lang="fa">
<head>
    <meta http-equiv="content-type" content="text/html; charset = UTF-8"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/adminPanel.css">
</head>
<body>
<div class="menu">
    <img src="/icon/hannah-troupe-0FQneB1VjaM-unsplash.jpg" alt="avatar" id="avatar"/>
    <span id="username"><%= fullname %></span>
    <span id="job"><%= job %></span>
    <span id="date"></span>
    <div class="menuItems">
        <p id="teachers" class="texts">لیست دبیران</p>
        <img id="teachersIcon" class="icons" src="/icon/iconfinder_study_115795.svg" alt="study"/>
    </div>
    <div class="menuItems">
        <p id="lessons" class="texts"> مشاهده طرح دروس</p>
        <img id="lessonsIcon" class="icons" src="/icon/iconfinder_study_115795.svg" alt="study"/>
    </div>
    <div class="menuItems">
        <p id="reviewReports" class="texts"> بررسی گزارش ها </p>
        <img id="reviewReportsIcon" class="icons" src="/icon/iconfinder_study_115795.svg" alt="study"/>
    </div>
    <div class="menuItems">
        <p id="reviewMeetings" class="texts"> بررسی جلسات </p>
        <img id="reviewMeetingsIcon" class="icons" src="/icon/iconfinder_study_115795.svg" alt="study"/>
    </div>
    <div class="menuItems">
        <p id="sendMassage" class="texts"> ارسال پیام </p>
        <img id="sendMassageIcon" class="icons" src="/icon/iconfinder_study_115795.svg" alt="study"/>
    </div>
    <div class="menuItems">
        <p id="hooghooghLetter" class="texts"> نامه حقوق</p>
        <img id="hooghooghLetterIcon" class="icons" src="/icon/iconfinder_study_115795.svg" alt="study"/>
    </div>
    <script>
        var date = new Date();
        document.getElementById("date").innerHTML = date.getFullYear();
    </script>
</div>
<div class="adminNewDabir">
    <div class="container">
        <img id="backIcon" src="icon/back.svg" alt="back"/>
        <a id="back" href="#"> بازگشت </a>
        <p id="header">دبیر جدید</p>
        <form action="/addNewTeacher" method="post">
            <input type="text" id="firstnameInput" class="inputs" name="firstname" required="required"/>
            <span id="firstnameInputText" class="inputTexts">نام</span>
            <input type="text" id="lastnameInput" class="inputs" name="lastname" required="required"/>
            <span id="lastnameInputText" class="inputTexts">نام خانوادگی</span>
            <input type="text" id="jobInput" class="inputs" name="job" required="required"/>
            <span id="jobInputText" class="inputTexts">حوزه تدریس</span>
            <input type="email" id="emailInput" class="inputs" name="email" required="required"/>
            <span id="emailInputText" class="inputTexts">ایمیل</span>
            <input type="text" id="passwordInput" class="inputs" name="password" required="required"/>
            <span id="passwordInputText" class="inputTexts">رمز پیشفرض</span>
            <input type="checkbox" id="isPriorInput" name="isPrior"/>
            <span id="isPriorInputText" class="inputTexts">اولویت ویژه</span>
            <button id="sumbitButton" type="submit" name="submit">ایجاد پروفایل</button>
        </form>
    </div>
</div>
<div class="adminTarheDars">
    <div class="container">
        <p id="header">طرح دروس</p>
        <img class="icons" id="headerIcon" src="/icon/iconfinder_study_115795.svg" alt=""/>
        <div class="fakeContainer">
            <table id="myTable">
                <tr class="tableHead">
                    <th class="links"></th>
                    <th class="dates">تاریخ ثبت</th>
                    <th class="teachers">نام دبیر</th>
                    <th class="subjects">نام درس</th>
                </tr>
                <tr>
                    <td class="links">asdad</td>
                    <td class="dates">asdad</td>
                    <td class="teachers">asdad</td>
                    <td class="subjects">asdad</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="adminBarresi">
    <div class="container">
        <p id="header">بررسی جلسات</p>
        <img class="icons" id="headerIcon" src="/icon/iconfinder_study_115795.svg" alt=""/>
    </div>
</div>
</body>
</html>